# project-root/.gitignore
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dépendances
node_modules

# Builds
dist
dist-ssr
*.local

# Éditeurs
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tests et couverture
coverage

# Fichiers d'environnement
.env
.env.local
.env.development
.env.production